version: 2
updates:

  # Maintain dependencies for Maven
  - package-ecosystem: "gradle" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    commit-message:
      # Prefix all commit messages with "maven: "
      prefix: "gradle"
    # Allow up to 10 open pull requests for maven dependencies (default is 5)
    open-pull-requests-limit: 10


  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "weekly"
    # Allow up to 10 open pull requests for GHA dependencies (default is 5)
    open-pull-requests-limit: 10